.idea
logs
target
*/target/*
*.iml
*.class
.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
*.jar
.DS_Store!/.idea/
rebel.xml
!/api.log.path_IS_UNDEFINED/

!/app.log.path_IS_UNDEFINED/

!/biz.log.path_IS_UNDEFINED/
!/openFeign.log.path_IS_UNDEFINED/

!/rocket.log.path_IS_UNDEFINED/

!/xxl.job.log.path_IS_UNDEFINED/
